.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
#primary-header {
    background-color: #1565C0;
    background-image: -webkit-radial-gradient(50% top, circle, rgba(33, 150, 243, 0.6) 0%, rgba(33, 150, 243, 0) 75%),-webkit-radial-gradient(right top, circle, #03A9F4 0%, rgba(3, 169, 244, 0) 57%);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    color: #64B5F6;
    margin: 0;
    position: relative;
}
#primary-footer {
    background-color: #1565C0;
    background-image: -webkit-radial-gradient(50% top, circle, rgba(33, 150, 243, 0.6) 0%, rgba(33, 150, 243, 0) 75%),-webkit-radial-gradient(right top, circle, #03A9F4 0%, rgba(3, 169, 244, 0) 57%);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    color: #64B5F6;
    margin: 0;
  }
