<nav class="navbar navbar-fixed-top" id="header">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span style="color:white;"><b>FCS </b>| Pilot Center</span></a>
    </div>

  </div>
</nav>
