<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>



<% include ./partials/loginHeader.ejs %>
<div style="display: table;width: 100%;">
<!-- Overlay for fixed sidebar -->
<div class="sidebar-overlay"></div>
<aside id="sidebar" class="sidebar sidebar-default open" style="background-color:#082f44;height: 600px;" role="navigation">
 <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
       
        <li>
            <a href="#">
                <i class="sidebar-icon md-inbox"></i>
                Attendance
            </a>
        </li>
        
        <li>
            <a href="#">
                <i class="sidebar-icon md-star"></i>
                Calender
            </a>
        </li>
        <li>
            <a href="#">
                <i class="sidebar-icon md-send"></i>
               Settings
            </a>
        </li>
        
        <li class="divider"></li>
        <li class="dropdown">
            <a class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
                <i class="sidebar-icon md-inbox"></i>
                 Attendance
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" tabindex="-1">
                     <span class="sidebar-badge"></span>
                        Attendance
                       
                    </a>
                </li>
                
            </ul>
        </li>
       
    </ul>
    <!-- Sidebar divider -->
    <!-- <div class="sidebar-divider"></div> -->
    
    <!-- Sidebar text -->
    <!--  <div class="sidebar-text">Text</div> -->
</aside>

<div class="wrapper">
    <!-- Sidebar Constructor -->
    <div class="">

<div class="container" style="padding-top:0px;background-color:#eeeeee;">
 
  <div class="row ">
   
   <div class="col-sm-12" >
   <md-card>
    <md-card-header style="background-color: #0288d1;">
    <md-title>
     Welcome User
    </md-title>
    </md-card-header>
     <md-content>
     This is the Dashboard<br/>

      This is the Dashboard<br/>
       This is the Dashboard<br/>
        This is the Dashboard<br/>
         This is the Dashboard<br/>
     This is the Dashboard<br/>
     This is the Dashboard<br/>
     This is the Dashboard<br/>
     This is the Dashboard<br/>
     
     <a href="/logout">SIGNOUT</a>
 </md-content>
   </md-card>

   </div>
   

  </div>
</div>

  </div>
</div>



</div>

<% include ./partials/loginFooter.ejs %>

</body>
</html>
