<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>

<% include ./partials/header.ejs %>

  
<div class="container" style="margin-top:60px;">
  <div class="row">
    <div class="col-sm-3">
		<md-card>
		<md-card-header style="background-color:#999999;">
		<h4>Primary</h4>
		<md-title>
		</md-title>
		</md-card-header>
		<md-content>
		<ul>
		  <li>Core Java</li>
		  <li>MEAN Stack</li>
		  <li>NodeJS</li>
		  <li>AngularJS 2</li>
		  <li>MongoDB</li>
		  </ul>
		</md-content>
		</md-card>
    </div>
	
    <div class="col-sm-3">
			<md-card>
		<md-card-header style="background-color:#999999;">
		<h4>Seconday</h4>
		<md-title>
		</md-title>
		</md-card-header>
		<md-content>
		<ul>
      <li>Bootstarp</li>
      <li>Scala / Haskell</li>
      <li>PostgreSQL</li>
	  </ul>
		</md-content>
		</md-card>

	    
    
    </div>
    <div class="col-sm-3">
      <h3>Hobby</h3>    
       <ul>	  
        <li>IoT</li>
       <li>Machine Learning/Statistics</li>
       <li>AI</li>
	   </ul>
    </div>
        <div class="col-sm-3">
      <h3>Sites</h3>     
  <ul>	  
        <li>Heroku</li>
       <li>GitHub</li>
       <li>Code School</li>
       <li>HackerRank</li>
     <li>HackerEarth</li>
       <li>CodeChef</li>
	   </ul>
    </div>
            <div class="col-sm-3">
      <h3>Frameworks</h3>     
  <ul>	  
        <li>ReactJS</li>
       <li>D3.js</li>
       <li>chart.js</li>
       <li>HackerRank</li>
     <li>HackerEarth</li>
       <li>CodeChef</li>
	   </ul>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>

</body>
</html>
