<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/header.ejs %>
</head>
<body>

<% include ./partials/nav.ejs %>
<div class="jumbotron text-center">
  <h1>SR!SH</h1>
  <img src="images/lang-logo.png"/>
  <li>Career Action Sheet</li> 
  <% include ./partials/h.ejs %>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>Primary</h3>
	  <ul>
      <li>Core Java</li>
      <li>MEAN Stack</li>
      <li>NodeJS</li>
      <li>AngularJS 2</li>
      <li>MongoDB</li>
	  </ul>
     
    </div>
    <div class="col-sm-3">
      <h3>Seconday</h3>
	    <ul>
      <li>Bootstarp</li>
      <li>Scala / Haskell</li>
      <li>PostgreSQL</li>
	  </ul>
    
    </div>
    <div class="col-sm-3">
      <h3>Hobby</h3>    
  <ul>	  
        <li>IoT</li>
       <li>Machine Learning/Statistics</li>
       <li>AI</li>
	   </ul>
    </div>
        <div class="col-sm-3">
      <h3>Sites</h3>     
  <ul>	  
        <li>Heroku</li>
       <li>GitHub</li>
       <li>Code School</li>
       <li>HackerRank</li>
     <li>HackerEarth</li>
       <li>CodeChef</li>
	   </ul>
    </div>
            <div class="col-sm-3">
      <h3>Frameworks</h3>     
  <ul>	  
        <li>ReactJS</li>
       <li>D3.js</li>
       <li>chart.js</li>
       <li>HackerRank</li>
     <li>HackerEarth</li>
       <li>CodeChef</li>
	   </ul>
    </div>
  </div>
</div>

</body>
</html>
