<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>



<% include ./partials/loginHeader.ejs %>

<div class="container " style="padding-top:0px;">
 
  <div class="row ">
   
   <div class="col-sm-12" >
   <md-card>
    <md-card-header style="background-color: #0288d1;">
    <md-title>
     Welcome User
    </md-title>
    </md-card-header>
     <md-content>
     This is the Dashboard<br/>
     This is the Dashboard<br/>
     This is the Dashboard<br/>
     This is the Dashboard<br/>
     This is the Dashboard<br/>
     
     <a href="/logout">SIGNOUT</a>
 </md-content>
   </md-card>

   </div>
   

  </div>
</div>





<% include ./partials/loginFooter.ejs %>

</body>
</html>
