<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>



<% include ./partials/loginHeader.ejs %>

<div class="container-fluid " style="padding-top:0px;">
 
  <div class="row ">

    <div class="col-sm-12" style="background: rgba(250, 250, 250, 0.7);height:600px;" >

<form action="/login" method="post">
<h1>Welcome</h1>
<input placeholder="" name="sql" type="text" required="">
<input placeholder="" name="sqlout" type="text">
<button>Query</button>
</form>


       
    </div>

  </div>
</div>





<% include ./partials/loginFooter.ejs %>

</body>
</html>
