<!DOCTYPE html>
<html lang="en">
<head>
  <title>Srish</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>SR!SH</h1>
  <p>Career Action Sheet</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Primary</h3>
      <p>Core Java</p>
      <p>MEAN Stack</p>
      <p>NodeJS</p>
      <p>AngularJS 2</p>
      <p>MongoDB</p>
     
    </div>
    <div class="col-sm-4">
      <h3>Seconday/h3>
      <p>Bootstarp</p>
      <p>Scala / Haskell</p>
      <p>PostgreSQL</p>
    
    </div>
    <div class="col-sm-4">
      <h3>Hobby</h3>        
        <p>IoT</p>
       <p>Machine Learning / Statistics</p>
       <p>AI</p>
    </div>
        <div class="col-sm-12">
      <h3>Sites</h3>        
        <p>Heroku</p>
       <p>GitHub</p>
       <p>Code School</p>
       <p>HackerRank</p>
     <p>HackerEarth</p>
       <p>CodeChef</p>
    </div>
  </div>
</div>

</body>
</html>
